# Application
.vscode/
.log/
.tool-versions
diff.txt

# Terraform local variable files
terraform/**/terraform.tfvars
terraform/modules/custom_message_lambda/lambda_package.zip

# Environment variables
.env
.env.local
.env.*.local

# Plan
doc/plan/*